/* General CSS */
ul {
  list-style: none;
}

label {
    margin-right: 1rem;
    margin-bottom: 1rem;
}


.center {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
    max-width: 22rem;
}

.width-lg {
    max-width: 40rem;
}
    
.width-xl {
    max-width: 60rem;
}
  
.stack-sm > * + * {
    margin-top: 0.5rem;
}

.stack-md > * + * {
    margin-top: 1rem;
}

.stack-lg > * + * {
    margin-top: 2rem;
}

.stack-xl > * + * {
    margin-top: 4rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.row div{
    width: 100%;
}

.row div > label {
    width: 30%
}

.row div> input {
    width: 60%
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}
  
.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

.form-style {
    border: 1px solid tomato;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    padding: 1rem;
}

.two-thirds {
    width: 67%
}

.one-third {
    width: 33%
}

.border {
   
}